/*
 * Write CSS code in this file.
 */

/* first page for css */

/* Main Title */
/* Still fixing... */

header{
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  height: 150px;
  padding-left: 40%;
  padding-right: 40%;
  font-weight: 400;
  line-height: 45px;
  text-decoration: none;
  text-align: center;
}
#title-goBeav {
  font-family: 'Kaushan Script', cursive;
  color: #CCCCCC;
  font-size: 45px;
}
#title-recipes {
  font-family: 'Alatsi', sans-serif;
  color: #FF8000;
  font-size: 75px;
}
/* END OF Main Title*/
/* Start Search Bar */

body {
  font-family: 'Alatsi', sans-serif;
}
* {
  box-sizing: border-box;
}
/* Search box */
/* form.Search-Food input[type=text] {

  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 90%;
  background: #f1f1f1;
} */
/* start of dynamic search bar */
.searchbox{
  /* width: 90%; */
  margin: 0px;
}
.header{
  background: #FF8000;
  overflow: hidden;
  padding-left: 26%;
  /* padding: 50px; */
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  position: relative;
}
.header h1{
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-bottom: 8px;
}
#value{
  /* border: none; */
  border-color: #FFFFFF;
  border-style: solid;
  border-width: thick;
  background: #FF8000;
  padding: 6px;
  font-size: 25px;
  width: 65%;
  height: 60px;
  /* border-radius: 6px; */
  color: white;
}
#value:focus{
  outline: none;
}
#value::placeholder {
  color: #FFFFFF;
}
.container{
  background: #FFFFF5;
  padding: 1%;
}
.item{
  /* margin: 3% 0px; */
  display: flex;
  align-items: center;
}
.icon{
  width: 25px;
  height: 25px;
  background: #E0D3B6;
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  margin-right: 8px;
}
.name{
  font-size: 17px;
  font-weight: 470;
  color: #333;
}
/* END of dynamic search bar */
form.Search-Food button {
  float: left;
  width: 10%;
  padding: 10px;
  background:#d73f09;
;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.Search-Food button:hover {
  background: Black;
}

form.Search-Food::after {
  content: "";
  clear: both;
  display: table;
}
/* END OF Search Bar */

/* Item Listing */

.item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  /* height: 300px;
  width: 300px; */
  margin: 0;
  padding: 0;
}

.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.item-image-container {
  position: relative;
}

.item-image-container img{
  height: 300px;
  width: 300px;
}

.item-title{
  position: absolute;
  display:inline-block;
  font-size: 1.5em;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

/* END OF Item Listing */

/* it will be main page for seaching food ... */


/* second page for css */
