<section class="recipe-full-page">
  <!-- recipe name -->
  <div class="recipe-name-container">
    <span class="recipe-name">{{CAPTION}}</span>
  </div>
  <!-- ingredients -->
  <span class="ingredients-title">Ingredients</span>
  <div class="recipe-ingredients-container">
    <div class="ingredients-element">
      <div class="ingredients-checklist">
        <button type="button" id="minus-ingredient" class="fas fa-minus-circle"></button>
        <span>1 English cucumber, cut into matchsticks</span>
        <button type="button" id="plus-ingredient" class="fas fa-plus-circle"></button>
      </div>
    </div>
  </div>
    <!-- recipe image -->
    <div class="recipe-image-container">
      <a href="#"><img src="{{IMG_URL}}"></a>
    </div>

  <!-- recipe toolbar -->
  <div class="recipe-toolbar-container">
    <nav class="recipe-navbar">
      <ul class="recipe-navlist">
        <li class="recipe-navitem">
          <span class="recipe-navbar-icon" id="bookmark-icon"></span>
          <span>Bookmark</span>
        </li>
        <li class="recipe-navitem">
          <span class="recipe-navbar-icon" id="print-icon"></span>
          <span>Print</span>
        </li>
        <li class="recipe-navitem">
          <span class="recipe-navbar-icon" id="copyURL-icon"></span>
          <span>Copy URL</span>
        </li>
        <li class="recipe-navitem">
          <span class="recipe-navbar-icon" id="googleDrive-icon"></span>
          <span>Google Drive</span>
        </li>
        <li class="recipe-navitem">
          <span class="recipe-navbar-icon" id="instagram-icon"></span>
          <span>Instagram</span>
        </li>
        <li class="recipe-navitem">
          <span class="recipe-navbar-icon" id="Facebook-icon"></span>
          <span>Facebook</span>
        </li>
      </ul>
    </nav>
  </div>
  <!-- directions -->
  <div class="recipe-directions-container">
    <span class="directions-title">directions</span>
    <div class="directions-element">
      <div class="directions-checklist">
        <button type="button" id="minus-direction" class="fas fa-minus-circle"></button>
        <span>Stir cucumber pieces with 1/4 cup gochujang paste in a bowl; set aside.</span>
        <button type="button" id="plus-direction" class="fas fa-plus-circle"></button>
      </div>
    </div>
  </div>

</section>
