<section class="recipe-full-page">

  <div class="recipe-name-container">
  </div>

  <div class="recipe-ingredients-container">
    <div class="ingredients-element">
      <label>
        <span>1 English cucumber, cut into matchsticks
        </span>
      </label>
    </div>
  </div>

  <div class="recipe-image-container">
  </div>

  <div class="recipe-toolbar-container">
  </div>

  <div class="recipe-directions-container">
  </div>

</section>
