/*
 * Write CSS code in this file.
 */

/* first page for css */

/* Main Title */
/* Still fixing... */

header{
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  height: 150px;
  padding-left: 40%;
  padding-right: 40%;
  font-weight: 400;
  line-height: 45px;
  text-decoration: none;
  text-align: center;
}
#title-goBeav {
  font-family: 'Kaushan Script', cursive;
  color: #CCCCCC;
  font-size: 45px;
}
#title-recipes {
  font-family: 'Alatsi', sans-serif;
  color: #FF8000;
  font-size: 75px;
}
/* END OF Main Title*/
/* Start Search Bar */

body {
  font-family: 'Alatsi', sans-serif;
}
* {
  box-sizing: border-box;
}
/* Search box */
/* form.Search-Food input[type=text] {

  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 90%;
  background: #f1f1f1;
} */
/* start of dynamic search bar */
.searchbox{
  /* width: 90%; */
  /* margin: 0px; */
}
.header{
  background: #FF8000;
  /* overflow: hidden; */
  padding-left: 30%;
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  position: relative;
}
#value{
  border-color: #FFFFFF;
  border-style: solid;
  border-width: thick;
  background: #FF8000;
  padding: 6px 6px 6px 12px;
  font-size: 20px;
  width: 58%;
  height: 60px;
  color: white;
}
#value:focus{
  outline: none;
}
#value::placeholder {
  color: #FFFFFF;
}
#filter-button {
  position: relative;
  right: 50px;
  color: black;
  font-size: 25px;
  cursor: pointer;
  border: none;
  width: 49px;
  background: none;
}
#filter-button:hover {
  color: #333333;
}
aside {
  background: #FF8000;
  width: 40.5%;
  height: 100px;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  left: 30%;
  bottom: 45px;
  /* visibility: hidden; */
}
.filter-input-container {
  padding-left: 7%;
  float: left;
  box-sizing: border-box;
}
.filter-input-element {

  /* padding-left: 30px; */
  /* padding-right: 4%; */
}
#bookmark-button {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 30px;
  background-color: #FF8000;
  color: #FFFF00;
  cursor: pointer;
}
#bookmark-button:hover {
  color: #FFFF99;
}
#filter-categories {
  width: 130px;
  height: 30px;
}
#filter-text-ingredients {
  width: 100%;
  height: 30px;
}

.container{
  background: #FFFFF5;
  padding: 1%;
}
.item{
  /* margin: 3% 0px; */
  display: flex;
  align-items: center;
}
.icon{
  width: 25px;
  height: 25px;
  background: #E0D3B6;
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  margin-right: 8px;
}
.name{
  font-size: 17px;
  font-weight: 470;
  color: #333;
}
/* END of dynamic search bar */
/* form.Search-Food button {
  float: left;
  width: 10%;
  padding: 10px;
  background:#d73f09;
;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.Search-Food button:hover {
  background: Black;
}

form.Search-Food::after {
  content: "";
  clear: both;
  display: table;
} */
/* END OF Search Bar */

/* Item Listing */
#items {
  margin: auto;
  width: 75%;
}

.item {
  display: block;
  float: left;
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0;
  padding: 0;
}

.item-contents {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.item-image-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.item-image-container img{
  height: 100%;
  width: 100%;
}

.item-title {
  visibility: hidden;
  display: inline-block;
  font-size: 1.5em;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.item-button-container {
  position: absolute;
  height: 45px;
  width: 100%;
  bottom: 0px;
}

.item-button-container > .far {
  visibility: hidden;
  border: none;
  position: absolute;
  font-size: 1.5em;
  height: 100%;
  width: 45px;
  left: 0px;
  background-color: transparent;
  color: yellow;
  outline: none;
  cursor: pointer;
}

.item-button-container > .fas {
  visibility: hidden;
  border: none;
  position: absolute;
  font-size: 1.5em;
  height: 100%;
  width: 45px;
  right: 0px;
  background-color: transparent;
  color: white;
  outline: none;
  cursor: pointer;
}

.item:hover .item-title {
  visibility: visible;
}

.item:hover .far {
  visibility: visible;
}

.item:hover .fas {
  visibility: visible;
}

.item:hover .item-image-container img {
  opacity: 0.5;
}

.item-title:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* END OF Item Listing */

/* it will be main page for seaching food ... */



/* Start of Button to Add Post of Recipe */
#add-recipe-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border: none;
  font-size: 36px;
  background-color: #FFFFFF;
  color: #FF8000;
  cursor: pointer;
}

#add-recipe-button:hover,
#add-recipe-button:focus {
  right: 27px;
  bottom: 27px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  font-size: 40px;
}

#add-recipe-button:focus {
  outline: none;
}

#modal-add-recipe-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-recipe-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-add-recipe-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #FFFFFF;
  border-radius: 30px;
  border-color: #666666;
  border-style: solid;
  border-width: thick;
}

.modal-add-recipe-header {
  position: relative;
  padding: 10px 20px;
}

.modal-add-recipe-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-add-recipe-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 40px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: 0;
}
#modal-add-recipe-close:hover {
  color: #4D4D4D;
}

.modal-add-recipe-body {
  padding: 20px;
}

.recipe-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.recipe-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.recipe-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 8px;
}
.recipe-input-element input::placeholder {
  font-size: 16px;
}

#recipe-categories-input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 3px 20px 10px;
}

#modal-cancel,
#modal-add {
  margin-right: 20px;
  height: 40px;
  width: 100px;
  font-size: 18px;
  border: 1px solid #aaa;
  border-radius: 8px;
  outline: 0;
}

#modal-cancel {
  background-color: white;
}

#modal-add {
  color: white;
  background-color: #666666;
}

#modal-cancel:hover, #modal-add:hover {
  color: black;
  background-color: #eee;
}
/* End of Button to Add Post of Recipe */


/* second page for css */
